doctype html
html
  head
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    //- meta(name="theme-color", content="#000000")
    title Matcha
    link(rel="stylesheet" href="main.css")
  body
    section.banner.full
      article
        img(src="slide01.jpg", alt="", srcset="")
        div.inner
          header
            p Venture into a new world with us and never go back
            h2 Matcha

      article
        img(src="slide02.jpg", alt="", srcset="")
        div.inner
          header
            p Tweak your account to get the most out of Matcha and your future partner
            h2 Simplicity

      article
        img(src="slide03.jpg", alt="", srcset="")
        div.inner
          header
            p Search and get matched with users with similar interest as you. No more fakes!
            h2 Convenience

      article
        img(src="slide04.jpg", alt="", srcset="")
        div.inner
          header
            p Utilise our advanced chat feature to contact your future partner
            h2 Meet and greet

      article
        img(src="slide05.jpg", alt="", srcset="")
        div.inner
          header
            p We are committed to helping those who are committed to their journey
            h2 It's a deal!

      
  //- Scripts
  script(src='/js/jquery.min.js')
  script(src='/js/jquery.scrollex.min.js')
  script(src='/js/skel.min.js')
  script(src='/js/util.js')
  script(src='/js/main.js')