extends layout

block layout-content
  div.View
    h1.Banner Matcha
    div.Message
      div.Title
        h3 Looking for love?
        h1 we got you covered
      span.Details start meeting people now!
    div.NavButtons
      a(href="/login")
          div.NavButton Just dive in!